html{
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Lato';
    margin-bottom: 60px;
}
#carousel{
    width:900px;
    margin-bottom: 20px;
}
.media{
    margin-bottom: 25px;
}
.media-object{
    height:120px;
    width: auto;
}
.cart-img{
    height:50px;
    width:auto;
}
tfoot{
    font-weight: bold;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height:60px;
    background-color:#2e3436;
}
.fa-btn {
    margin-right: 6px;
}

/*=========================
/*       Admin
/*=========================*/

#adminNav {
    margin-bottom:0;
    background: #ee962b;
    color: white;
    position: relative;
}

#adminNav a {
    color: white;
}

#adminNavClose {
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 1.5em;
    cursor: pointer;
}

#adminNavClose:hover {
    color: #bbb;
}